<div class="photo">
    <h2 ui-sref="app.albums.one({id: vm.photo.aid})">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        {{vm.photo.text}}</h2>

    <div class="b-image">
        <img src="{{vm.choosePhoto(vm.photo.width)}}" alt="">

        <p class="b-image-content"><b>Text : </b>{{vm.photo.text}}</p>
    </div>
</div>

<ui-view></ui-view>