<div class="albums">
    <h2>Welcome, {{vm.name}}</h2>
    <ul class="b-albums">
        <li class="b-album"
            ui-sref="app.albums.one({id: album.aid})"
            ng-repeat="album in vm.albums">
            <div class="b-album-image" style="background-image: url('{{album.prev}}')"></div>
            <h4 class="b-album-title">{{album.title}}</h4>
            <p class="b-album-size">
                <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                {{album.size}} file(s)</p>
            <p class="b-album-updated">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                {{album.lastChange}} last update</p>
        </li>
    </ul>
</div>

<ui-view></ui-view>
