<div class="login">
    <h2>Welcome to albums view</h2>
    We need access to your albums, please log in
    <a href="http://oauth.vk.com/authorize?client_id=5827644&scope=4&redirect_uri=http://localhost:3000/albums/all&display=page&v=5.62&response_type=token">Login</a>
</div>
