ul {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Overpass', sans-serif;
}

h2 {
  color: #666;
  font-weight: 600;
  padding: 0 15px;
}

.b-tabs {
  &-header {
    background: #999;
    height: 45px;
  }
  &-list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      border-bottom: 2px solid #eee;
    &-item {
      display: block;
      width: 100%;
      text-align: center;
      span {
        display: block;
        font-size: 24px;
        transform: translateY(2px);
        margin: 10px 10px 0;
        padding: 8px;
        border: 2px solid #eee;
        transition: border 0.3s ease;
      }
      &__active {
        span {
          border-bottom-color: #fff;
        }
      }
    }
  }
}

.b-albums {
  border-bottom: 1px solid #999;
  border-top: 2px solid #999;
}

.b-album {
  padding: 5px 25px;
  display: block;
  background: #eaeaea;
  border-bottom: 1px solid #999;
  position: relative;
  &::after {
    position: absolute;
    right: 30px;
    color: #0b0efd;
    top: 50%;
    transform: translateY(-50%);
    content: '\f101';
    font-size: 34px;
    font-family: FontAwesome,sans-serif;

  }
  &-image {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    height: 90px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &-title {
    margin: 6px 0;
    color: #0b0efd;
    font-size: 18px;
  }
  &-size,
  &-updated {
    font-size: 14px;
    color: #999;
  }
}

.b-photos {
  border-bottom: 2px solid #999;
  border-top: 2px solid #999;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.b-photo {
  flex: 1 0 25%;
  display: block;
  box-sizing: border-box;
  border: 8px solid transparent;
  border-radius: 15px;
  height: 140px;
  max-width: 25%;
  min-width: 150px;
  position: relative;
  cursor: pointer;
  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}

.b-tooltip {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 200px;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  background: rgba(0,0,0, 0.9);
  color: #fff;
  &-content {
    word-break: break-word;
  }
  &[data-triangle="top"]::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid rgba(0,0,0, 0.9);
    margin-top: -10px;
  }
  &[data-triangle="bottom"]::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid rgba(0,0,0, 0.9);
    margin-bottom: -10px;
  }
}

.b-image {
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  img {
    max-width: 100%;
  }
  &-content {
    text-align: left;
  }
}