<select name="repeatSelect"
        id="repeatSelect"
        ng-change="vm.onChange()"
        ng-model="vm.albumId">
    <option ng-repeat="album in vm.albums" value="{{album.aid}}">{{album.title}}</option>
</select>

{{vm.albumId}}

<form class="dropzone"
      method="post"
      enctype="multipart/form-data"
      ng-dropzone
      dropzone="vm.dropzone"
      dropzone-config="vm.dropzoneConfig"
      event-handlers="{ 'addedfile': vm.dzAddedFile, 'error': vm.dzError, 'processing': vm.prr }">
</form>