<div class="albums">
    <h2 ui-sref="app.albums.all">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <i class="fa fa-folder-o" aria-hidden="true"></i>
        {{vm.album}}</h2>
    <ul id="photos" class="b-photos">
        <li class="b-photo"
            ui-sref="app.albums.photo({id: photo.pid})"
            ng-repeat="photo in vm.photos">
            <span>
                <img ng-src="{{photo.src}}" alt="">
            </span>
            <tooltip likes="photo.likes"
                     content="photo.text"
                     reposts="photo.reposts"
                     comments="photo.comments"></tooltip>
        </li>
    </ul>
</div>

<ui-view></ui-view>