<div class="b-tabs">
    <header class="b-tabs-header"></header>
    <ul class="b-tabs-list">
        <li ng-repeat="tab in vm.tabs"
            class="b-tabs-list-item"
            ng-show="tab.name !== 'login'"
            ui-sref-active="b-tabs-list-item__active"
            ng-if="tab.class"
            ui-sref="{{tab.name}}">
            <span>
                <i class="fa"
                   aria-hidden="true"
                   ng-class="tab.class"></i>
            </span>
        </li>
    </ul>
</div>