<div class="b-tooltip" data-triangle="top">
    <p class="b-tooltip-content">Text : {{content}}</p>
    <p class="b-tooltip-likes">Count likes : {{likes.count}}</p>
    <p class="b-tooltip-comments">Count comments : {{comments.count}}</p>
    <p class="b-tooltip-reposts">Count reposts : {{reposts.count}}</p>
</div>
